BASE_URL=http://localhost:8000/
PASSWORD_DEFAULT=Khongpass@123
EMAIL_DOMAIN=nextcore.vn

ROOT_USERNAME=

LARK_APP_ID=
LARK_APP_SECRET=

LARK_MAIL_SERVER=
LARK_MAIL_PORT=
LARK_MAIL_SENDER=
LARK_MAIL_PASSWORD=


DATABASE_NAME=
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=
DATABASE_PASSWORD=

ENVIRONMENT=local|develop|production
